<div class="card">
  <div class="card-image">
    <img src={{concat 'http://image.tmdb.org/t/p/w185/' movie.poster_path}} />
  </div>
  <div class="card-heading">
    <h2>{{movie.title}}</h2>
  </div>
</div>